@font-face {
  font-family: "poppins-black";
  src: url("./Poppins/Poppins-Black_0.ttf");
}

@font-face {
  font-family: "poppins-thin";
  src: url("./Poppins/Poppins-Thin_0.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("./Poppins/Poppins-Light_0.ttf");
}

@font-face {
  font-family: "poppins";
  src: url("./Poppins/Poppins-Regular_0.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("./Poppins/Poppins-Medium_0.ttf");
}

@font-face {
  font-family: "poppins-semi-bold";
  src: url("./Poppins//Poppins-SemiBold_0.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("./Poppins/Poppins-Bold_0.ttf");
}

@font-face {
  font-family: "poppins-bolder";
  src: url("./Poppins/Poppins-ExtraBold_0.ttf");
}
