.note-dialog {
  .modal-dialog {
    .modal-content {
      .modal-header {
        background-color: var(--color-success);
        height: 51px !important;

        .modal-title {
          font-size: 14px !important;
          font-family: "poppins-medium" !important;
          color: white !important;
        }

        .close {
          margin: 0;
          position: absolute;
          top: -10px;
          right: -10px;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background-color: white !important;
          color: red !important;
          font-size: 9px;
          opacity: 1;
          z-index: 10;
        }
      }

      .modal-body {
        textarea {
          font-size: 14px !important;
          font-family: "poppins-medium" !important;
          color: var(---color-semi-gray) !important;
        }
      }

      .modal-footer {
        border-top: none !important;

        button {
          width: 102px !important;
          font-size: 12px !important;
          font-family: "poppins" !important;

          &.btn-success {
            background-color: var(--color-success) !important;
          }

          i {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
