<mat-tab-group class="strategy-tab">
  <mat-tab label="Appearance">
    <ng-template matTabContent>
      <app-strategy-appearance></app-strategy-appearance>
    </ng-template>
  </mat-tab>
  <mat-tab label="Colum Visibility">
    <ng-template matTabContent>
      <app-strategy-column-visibility></app-strategy-column-visibility>
    </ng-template>
  </mat-tab>
  <mat-tab label="Filters">
    <ng-template matTabContent>
      <app-strategy-filters></app-strategy-filters>
    </ng-template>
  </mat-tab>
</mat-tab-group>

